<div class="form-group row">
  <input type="radio" data-ng-model="$ctrl.term.salutation" value="Herr">Herr</input>
  <input type="radio" data-ng-model="$ctrl.term.salutation" value="Frau">Frau</input>
</div>
  <div class="form-group row">
    <label class="col-md-4" for="firstname">First name</label>
    <input type="text" class="form-control col-md-8" id="firstname" ng-model="$ctrl.term.firstname">
  </div>

  <div class="form-group row">
    <label class="col-md-4" for="surname">Surname</label>
    <input type="text" class="form-control col-md-8" id="surname" ng-model="$ctrl.term.surname">
  </div>

  <div class="form-group row">
    <label class="col-md-4" for="street">Street</label>
    <input type="text" class="form-control col-md-8" id="street" ng-model="$ctrl.term.street">
  </div>

  <div class="form-group row">
    <label class="col-md-4" for="city">City</label>
    <input type="text" class="form-control col-md-8" id="city" ng-model="$ctrl.term.city">
  </div>



  <button class="btn" ng-click="$ctrl.createTermination()">Create Termination</button>
